[submodule "tor"]
	path = tor
	url = https://git.torproject.org/tor.git
[submodule "openssl"]
	path = openssl
	url = https://github.com/openssl/openssl.git
[submodule "libevent"]
	path = libevent
	url = https://github.com/libevent/libevent.git
